@import "~/src/frontend/shared/css/_colors.scss";

.scoreDisplay {
    
    font-size: 2.6rem;
    text-align: center;
    padding: 9px 0;
    user-select: none;
    background-color: rgba(179,198,179,0.5);
}

.noScore {
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr;
    background-color: darken(red, 3%);
}

.noScore > div > span {
    background-color: #efefef;
    border: 0.3rem dotted #000;
    padding: 0.8rem 0.5rem;
    font-size: 0.7em;
    min-width: 100px;
    margin: 0.8rem 2rem;
    user-select: none;
}