.mobile {
  article-background: rgba(0, 0, 0, 0.1); }

.mobile * {
  user-select: none; }

section.MobileLayout {
  grid-template-rows: 14rem auto; }

.mobile {
  display: grid;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.mobile .no-select {
  user-select: none; }

.mobile .pressable {
  padding: 1rem;
  border-radius: 50%;
  font-size: 3rem; }

.mobile > header:first-child {
  height: 14rem; }

.mobile > article:last-child {
  margin: 1rem;
  border: 4px dotted red; }

.mobile h1, .mobile h2 {
  padding-left: 1rem;
  text-align: left;
  color: #b3b3b3;
  margin: 0;
  letter-spacing: 0.2rem;
  font-weight: normal;
  line-height: 6rem;
  text-transform: uppercase; }

.mobile h1 > span:first-child, .mobile h2 > span:first-child {
  margin-right: 1rem; }

.mobile h1 > span:nth-child(3), .mobile h2 > span:nth-child(3) {
  margin-right: 1.4rem;
  float: right;
  padding: 0.2rem 0.3rem 1rem 2rem;
  border-radius: 5rem; }

.mobile h1 {
  font-size: 1.4em;
  background: #1d4f18;
  line-height: 3rem;
  border-bottom: 2px inset #010101;
  color: #666666; }

.mobile h1 > span:nth-child(2) {
  color: #cccccc;
  font-weight: bold; }

.mobile h2 {
  background: #1a1a1a;
  line-height: 5rem; }

.mobile h2 > span:nth-child(2) {
  font-size: 1.7rem; }

.mobile h2 > span:nth-child(2) div {
  display: inline; }

.mobile .circled {
  margin: auto;
  width: auto;
  text-align: center; }
