@import "src/css/_colors.scss";

.navBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  >span {
    border: 2px solid darken(white, 30%);
    background: white;
    color: black;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1.6rem 0.8rem;
    background-color: desaturate($sc-light-40, 30%);
    border-bottom: 0.35rem solid $sc-dark-20;
  }
  >span.selected {
    color: $sc-dark-20;
    border: 0.2rem solid $sc-dark-20;
    border-bottom: none;
    background-color: white;
    font-weight: bold;
  }
}
