@import "~/node_modules/gcp-core-fe/src/css/_colors.scss";

button {
    .btn {
        background-color: $pc;
        color: white;
        border: none;
        padding: 1rem;
        border-radius: 0.5rem;
        &:hover {
            background-color: $pc-light-20;
            cursor: pointer;
        }
    }
}
