@import "src/css/_colors.scss";

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  //background: radial-gradient(circle at top center, #7bb294, #7bb294 10%, #082e28 10%);
  min-height: 100vh; /* ensures full page height */
}

table {
  width: 100%;
  border-collapse: collapse;
}


#app {
  * {
    user-select: none;
  }
  h1,
  h2,
  h3 {
    width: 100%;
    text-transform: uppercase;
    margin: 0;
    user-select: none;
  }
  // header colors for mobile
  h1 {
      background: darken($pc, 41%);
      color: desaturate($pc-light-20, 30%);
  }
  h2 {
      background: desaturate(darken($pc, 20%), 10%);
      color: darken(white, 10%);
  }
  h3 {
      color: #444444;
      background: #d2e1d2;
  }
  h1 {
    font-size: 3.2em;
    line-height: 7rem;
    padding: 0 0;
    letter-spacing: 0.12em;
    text-align: center;
    position: fixed;
    left:0;
    top: 0;
    z-index: 100;
  }
  h2 {
    font-size: 1.8em;
    line-height: 6rem;
    text-align: center;
    position: fixed;
    top: 7rem;
    z-index: 100;
  }
  
  h3 {
    line-height: 4rem;
    font-weight: normal;
  }
  .row {
    height: 4rem;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }
  .drawer-header {
    background-color: desaturate($sc-dark-20, 30%);
    line-height: 6rem;
    color: white;
    padding-left: 1rem;
    text-transform: uppercase;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    font-size: 2.4rem;
    text-align: center;
  }

  button {
    padding: 1.6rem 0.6rem;
    min-width: 160px;
    border-radius: 0.8rem;
    &.enabled {
      cursor: pointer;
      background-color: $sc-dark-10;
      border: 1px solid $sc-light-20;
      color: white;
    }
    &.disabled {
      cursor: not-allowed;
      background-color: #ddd;
      color: #444;
    }
  }

  .drawer-container {
    margin:0;
    &>div {
      margin: 2rem;
    }
  }
}

button {
  margin: 8px;
  padding: 25px;
  font-size: 32px;
}

input[type="number"] {
  width: 100%;
}

.hidden {
  display: none;
}

.submit-container,
#confirmation {
  margin-top: 20px;
  text-align: center;
}

table {
  width: 100%;
}

.hidden {
  display: none;
}

/* General styling for the select elements */
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  display: block;
}


