@import "src/css/_colors.scss";

// Typography
$font-family: Arial, sans-serif;
$font-size-base: 16px;

// Layout
$container-max-width: 1200px;

* {
  user-select: none;
}
body {
  margin: 0;
}

// Global Styles
body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $text-color;
  background-color: $background-color;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 20px;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  width: 100%;
  text-transform: uppercase;
  margin: 0;
  user-select: none;
}

h1 {
  background: desaturate($pc-dark-20, 30%);
  color: $pc;
  font-size: 2.2em;
  line-height: 3rem;
  padding: 0 0;
  letter-spacing: 0.12em;
  text-align: center;
  top: 0;
}

h2 {
  font-size: 30px;
  color: white;
  height: 100%;
  border-bottom: 4px solid white;
  border-right: 2px solid white;
  background-color: #d7ebd5;
}

h3 {
  font-size: 24px;
  color: $sc;
  text-align: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

h4 {
  font-size: 20px;
  color: $sc;
  background-color: #ddd;
}

h5 {
  font-size: 18px;
  color: $text-color;
}

h6 {
  font-size: 16px;
  color: $text-color;
}

// Add more styles as needed
