.no-select {
  user-select: none; }

.MainMenu {
  background: red; }

.MainMenu > h1 {
  font-size: 1rem;
  text-transform: uppercase;
  color: white; }

.MainMenu > h1 > span {
  color: white; }

.MainMenu > h1 > span:first-child {
  margin-right: 1.4rem;
  margin-left: 1rem; }

.MainMenu > h1 > span:last-child {
  float: right;
  padding: 0.2rem 1rem 1rem 2rem;
  border-radius: 5rem;
  margin-right: 1.4rem; }

.MainMenu > section.not-visible {
  display: none; }

.MainMenu > section.visible {
  position: fixed;
  top: 3.0rem;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.4); }

.MainMenu > section.visible > div {
  position: absolute;
  height: 8rem;
  top: 0rem;
  right: 0;
  background: #333333; }

.MainMenu > section.visible > div > div {
  width: 14rem;
  font-size: 1.9rem;
  margin: 1.4rem;
  padding: 0.7rem;
  margin: 0;
  color: white;
  border-top: 3px dotted #4d4d4d; }
